<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Menu</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="d-flex justify-content-center align-items-center vh-100 bg-light"
  >
    <div class="card p-4">
      <h2 class="card-title text-center">Faculty Dashboard</h2>
      <div class="list-group">
        <a
          href="/checkout-pattern"
          class="list-group-item list-group-item-action"
          >Checkout Patterns</a
        >
        <a href="/reading-freq" class="list-group-item list-group-item-action"
          >Frequency of Reading</a
        >
        <a href="/popular-genres" class="list-group-item list-group-item-action"
          >Popular Genres</a
        >
        <a href="/book-types" class="list-group-item list-group-item-action"
          >Book Types</a
        >
        <a href="/trending-books" class="list-group-item list-group-item-action"
          >Overall Trending</a
        >
        <a href="/checkin" class="list-group-item list-group-item-action"
          >Check-in</a
        >
        <a href="/checkout" class="list-group-item list-group-item-action"
          >Check-out</a
        >
        <!-- <a href="/borrow-history" class="list-group-item list-group-item-action"
          >Borrow History</a
        > -->
        <a
          href="/current-borrows"
          class="list-group-item list-group-item-action"
          >Current Borrows</a
        >
        <a href="/checkin-stats" class="list-group-item list-group-item-action"
          >Check-in Statistics</a
        >
      </div>
    </div>
  </body>
</html>
